<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Generic Api Consumer</title>
</head>
<body>
<form action="http://127.0.0.1:8000/api/schema/auth/token/login/" method="post">
  <div>
    <label for="username">What greeting do you want to say?</label>
    <input name="username" id="username" value="admin">
  </div>
  <div>
    <label for="password">Who do you want to say it to?</label>
    <input name="password" id="password" value="admin">
  </div>
  <div>
    <button>Авторизация</button>
  </div>
</form>


</body>
</html>